In [1]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 KB 19.6 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [3]:
col_header = ['연도', '시도','행정구역','학제','학교수', '학생수', '학생_남','학생_여', '교직원수', '다문화학생수', '다문화_남', '다문화_여']

#01) 첫번째 sheet에 '2021-2022' 데이터 추출
sheet1 = pd.read_excel(io='경기도교육청_행정구역별_학제별_학급_학생_교원_20220401.xlsx', 
                   sheet_name='2021-2022',
                   usecols='A:E,P:R, BL, BW:BY', 
                   header=None,
                   names=col_header,
                   index_col = 0,
                   skiprows=11)

In [4]:
#02) 두번째 sheet에 '2015-2020' 데이터 추출
sheet2 = pd.read_excel(io='경기도교육청_행정구역별_학제별_학급_학생_교원_20220401.xlsx', 
                   sheet_name='2015-2020',
                   usecols='A:E,O:Q, AJ, AU:AW', 
                   header=None,
                   names=col_header,
                   index_col = 0,
                   skiprows=12)

In [5]:
## 두개 합치기
st = pd.concat([sheet1, sheet2])

In [6]:
st

,시도,행정구역,학제,학교수,학생수,학생_남,학생_여,교직원수,다문화학생수,다문화_남,다문화_여
연도,,,,,,,,,,,
2021,경기,수원시,유치원,183,15710,8052,7658,1315,0,0,0
2021,경기,수원시,초등학교,99,65671,33885,31786,4073,2292,1156,1136
2021,경기,수원시,중학교,57,33954,17524,16430,2501,608,291,317
2021,경기,수원시,고등학교,44,35247,18734,16513,3497,277,109,168
2021,경기,수원시,(일반고),31,26527,13785,12742,2525,155,49,106
...,...,...,...,...,...,...,...,...,...,...,...
2020,경기,소계,(자율고),11,8783,4549,4234,756,30,18,12
2020,경기,소계,특수학교,36,4914,3391,1523,1948,0,0,0
2020,경기,소계,고등공민학교,1,31,20,11,5,0,0,0
2020,경기,소계,각종학교,11,2158,923,1235,198,40,13,27
2020,경기,소계,소계,4670,1651636,847894,803742,123045,36411,18469,17942

In [7]:
# 소계 제거
result = st[(st['행정구역'] != "소계") & (st['학제'] != "소계")]

In [8]:
result.count()

시도        1862
행정구역      1862
학제        1862
학교수       1862
학생수       1862
학생_남      1862
학생_여      1862
교직원수      1862
다문화학생수    1862
다문화_남     1862
다문화_여     1862
dtype: int64

In [9]:
## 특정 조건의 데이터 보기
result[result['학제'] == '초등학교']['다문화학생수'].sum()

185660

In [10]:
# 데이터 저장
result.to_csv('경기도학생정보.csv', encoding='utf-8=sig')