In [1]:
!pip install tqdm

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tqdm in /home/jovyan/.local/lib/python3.9/site-packages (4.66.1)
WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
from tqdm import tqdm
from urllib.request import urlopen
import json

In [3]:
url="http://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=1001"
result_data = urlopen(url)
result = result_data.read()

In [4]:
result

b'{"totSellamnt":103967487000,"returnValue":"success","drwNoDate":"2022-02-05","firstWinamnt":2077279594,"drwtNo6":42,"drwtNo4":14,"firstPrzwnerCo":12,"drwtNo5":20,"bnusNo":15,"firstAccumamnt":24927355128,"drwNo":1001,"drwtNo2":10,"drwtNo3":12,"drwtNo1":6}'

In [5]:
data = json.loads(result)
data

{'totSellamnt': 103967487000,
 'returnValue': 'success',
 'drwNoDate': '2022-02-05',
 'firstWinamnt': 2077279594,
 'drwtNo6': 42,
 'drwtNo4': 14,
 'firstPrzwnerCo': 12,
 'drwtNo5': 20,
 'bnusNo': 15,
 'firstAccumamnt': 24927355128,
 'drwNo': 1001,
 'drwtNo2': 10,
 'drwtNo3': 12,
 'drwtNo1': 6}

In [6]:
def lotto(chasu):
    url="http://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo="+str(chasu)
    
    result_data = urlopen(url)
    result = result_data.read()
    
    data = json.loads(result)
    data_1 = pd.DataFrame.from_dict(data, orient='index')
    data_1 = data_1.transpose() ## 행과 열을 바꾼거 
    
    return data_1

In [10]:
df_e_cols=["totSellamnt","returnValue","drwNoDate","firstWinamnt","firstPrzwnerCo","firstAccumamnt","drwNo","drwtNo1","drwtNo2","drwtNo3","drwtNo4","drwtNo5","drwtNo6","bnusNo"]
df_k_cols=["누적금액","실행결과","추첨일자","1등당첨금","1등당첨인원","1등누적당첨금","회차","당첨번호1","당첨번호2","당첨번호3","당첨번호4","당첨번호5","당첨번호6","보너스번호"]
rows = []

In [11]:
for name in df_e_cols:
    print("'" + name + "'", ": row.loc[0, '", name, "'],")

'totSellamnt' : row.loc[0, ' totSellamnt '],
'returnValue' : row.loc[0, ' returnValue '],
'drwNoDate' : row.loc[0, ' drwNoDate '],
'firstWinamnt' : row.loc[0, ' firstWinamnt '],
'firstPrzwnerCo' : row.loc[0, ' firstPrzwnerCo '],
'firstAccumamnt' : row.loc[0, ' firstAccumamnt '],
'drwNo' : row.loc[0, ' drwNo '],
'drwtNo1' : row.loc[0, ' drwtNo1 '],
'drwtNo2' : row.loc[0, ' drwtNo2 '],
'drwtNo3' : row.loc[0, ' drwtNo3 '],
'drwtNo4' : row.loc[0, ' drwtNo4 '],
'drwtNo5' : row.loc[0, ' drwtNo5 '],
'drwtNo6' : row.loc[0, ' drwtNo6 '],
'bnusNo' : row.loc[0, ' bnusNo '],

In [12]:
for number in tqdm(range(1071,1090)):
    row=lotto(number)

    if row.loc[0,"returnValue"]=="fail":
        pass
    else:
        rows.append({'누적금액' : row.loc[0,'totSellamnt'],
        '실행결과' : row.loc[0,'returnValue'],
        '추첨일자' : row.loc[0,'drwNoDate'],
        '1등당첨금' : row.loc[0,'firstWinamnt'],
        '1등당첨인원' : row.loc[0,'firstPrzwnerCo'],
        '1등누적당첨금' : row.loc[0,'firstAccumamnt'],
        '회차' : row.loc[0,'drwNo'],
        '당첨번호1' : row.loc[0,'drwtNo1'],
        '당첨번호2' : row.loc[0,'drwtNo2'],
        '당첨번호3' : row.loc[0,'drwtNo3'],
        '당첨번호4' : row.loc[0,'drwtNo4'],
        '당첨번호5' : row.loc[0,'drwtNo5'],
        '당첨번호6' : row.loc[0,'drwtNo6'],
        '보너스번호' : row.loc[0,'bnusNo']})

lotto = pd.DataFrame(rows,columns=df_k_cols)     
lotto

100%|██████████| 19/19 [00:01<00:00, 12.45it/s]

,누적금액,실행결과,추첨일자,1등당첨금,1등당첨인원,1등누적당첨금,회차,당첨번호1,당첨번호2,당첨번호3,당첨번호4,당첨번호5,당첨번호6,보너스번호
0,107362630000,success,2023-06-10,5183979750,5,25919898750,1071,1,2,11,21,30,35,39
1,108156654000,success,2023-06-17,2175006375,12,26100076500,1072,16,18,20,23,32,43,27
2,107352123000,success,2023-06-24,2345227603,11,25797503633,1073,6,18,28,30,32,38,15
3,105744157000,success,2023-07-01,2134763657,12,25617163884,1074,1,6,20,27,28,41,15
4,105635232000,success,2023-07-08,2896337167,9,26067034503,1075,1,23,24,35,44,45,10
5,103168694000,success,2023-07-15,2672689750,9,24054207750,1076,3,7,9,33,36,37,10
6,105927489000,success,2023-07-22,3570901018,7,24996307126,1077,4,8,17,30,40,43,34
7,105407618000,success,2023-07-29,2141604938,12,25699259256,1078,6,10,11,14,36,38,43
8,103120206000,success,2023-08-05,2712329417,9,24410964753,1079,4,8,18,24,37,45,6
9,104111986000,success,2023-08-12,3639444429,7,25476111003,1080,13,16,23,31,36,44,38
10,106974323000,success,2023-08-19,2343892944,11,25782822384,1081,1,9,16,23,24,38,17
11,107566880000,success,2023-08-26,3720489643,7,26043427501,1082,21,26,27,32,34,42,31
12,108995141000,success,2023-09-02,1713084525,15,25696267875,1083,3,7,14,15,22,38,17
13,109818924000,success,2023-09-09,1738764600,15,26081469000,1084,8,12,13,29,33,42,5
14,106249975000,success,2023-09-16,1073277473,23,24685381879,1085,4,7,17,18,38,44,36
15,109250306000,success,2023-09-23,1515913809,17,25770534753,1086,11,16,25,27,35,36,37
16,113960897000,success,2023-09-30,1732253602,16,27716057632,1087,13,14,18,21,34,44,16
17,109089305000,success,2023-10-07,2434697898,11,26781676878,1088,11,21,22,30,39,44,31
18,108725932000,success,2023-10-14,2978522167,9,26806699503,1089,4,18,31,37,42,43,40